CanSat_Data_Flow_NodeRed.json
[{"id":"b6cb195f.9cf4e8","type":"tab","label":"CanSat","disabled":false,"info":""},{"id":"7acf76dd.b756c8","type":"inject","z":"b6cb195f.9cf4e8","name":"","topic":"","payload":"0,5000,25.0,101325,0.00,0.00,1.00,0.00,0.00,0.00","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":340,"wires":[[]]},{"id":"ebf8601e.ed0d5","type":"serial in","z":"b6cb195f.9cf4e8","name":"","serial":"509e3ac5.dace94","x":430,"y":420,"wires":[["9e894254.c609d"]]},{"id":"5ca01cbc.6165b4","type":"debug","z":"b6cb195f.9cf4e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":340,"wires":[]},{"id":"9e894254.c609d","type":"function","z":"b6cb195f.9cf4e8","name":"","func":"data = msg.payload.split(\",\");\noutput={};\noutput[\"i\"]         = parseInt(data[0]);\noutput[\"millis\"]    = parseInt(data[1]);\noutput[\"vbat\"]      = parseInt(data[2]);\noutput[\"millivolts\"]= parseInt(data[3]);\noutput[\"temp\"]      = parseFloat(data[4]);\noutput[\"pres\"]      = parseInt(data[5]);\noutput[\"height\"]    = parseFloat(data[6]);\noutput[\"ax\"]        = parseFloat(data[7]);\noutput[\"ay\"]        = parseFloat(data[8]);\noutput[\"az\"]        = parseFloat(data[9]);\noutput[\"gx\"]        = parseFloat(data[10]);\noutput[\"gy\"]        = parseFloat(data[11]);\noutput[\"gz\"]        = parseFloat(data[12]);\noutput[\"atot\"]      = parseFloat( Math.sqrt( output[\"ax\"]*output[\"ax\"] + output[\"ay\"]*output[\"ay\"] + output[\"az\"]*output[\"az\"] ) );\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":380,"wires":[["e382b3ea.11e34","5ca01cbc.6165b4"]]},{"id":"e382b3ea.11e34","type":"influxdb out","z":"b6cb195f.9cf4e8","influxdb":"5dd1568e.589848","name":"","measurement":"serial","precision":"","retentionPolicy":"","x":880,"y":420,"wires":[]},{"id":"509e3ac5.dace94","type":"serial-port","z":"","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"5dd1568e.589848","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"serial","name":"","usetls":false,"tls":""}]